listName=system_backup&rowData={
                                     "id":           "",
                                     "backupPath":   "",
                                     "backupMethod": "ON_DEMAND",
                                     "backupType":   "{{BK_TYPE}}",
                                     "lastUpdated":  ""
}
