listName=system_backup&rowData={
                               "id":           "",
                               "backupPath":   "",
                               "backupMethod": "PERIODIC",
                               "backupType":   "{{BK_TYPE}}",
                               "lastUpdated":  "",
                               "period":       "{{PERIOD}}",
                               "startTime":    {{STtime}}
}
