listName=system_restore&rowData={
                               "id":"",
                               "restoreMethod":"ON_DEMAND",
                               "status":"",
                               "fkBackupFile":"{{ID}}"
}
