listName=image_config&rowData={
        "lastUpdated":     "",
        "cloudProfileID":  "{{ Cloud_Type}}-{{ POP_IP }}-{{ Tenant }}-{{ Tenant_User_Name }}",
        "imageName":       "{{ ImageName }}",
        "imageId":         "",
        "cloudType":       "{{ Cloud_Type }}",
        "imageFilePath":   "{{ ImagePath }}",
        "id":              "{{ Image_Id }}",
        "status":          "UPLOADED"
}
