listName=image_config&rowData={
        "id":              "",
        "imageName":       "{{ ImageName }}",
        "imageType":       "IMAGE",
        "cloudType":       "{{ Cloud_Type }}",
        "cloudProfileID":  "{{ Cloud_Type}}-{{ POP_IP }}-{{ Tenant }}-{{ Tenant_User_Name }}",
        "tenantID":        "{{ Tenant_id }}",
        "imageFilePath":   "{{ ImagePath }}",
        "imageId":         "",
        "status":          "",
        "lastUpdated":     ""
}
