listName=cloud_provider_config&rowData={
        "id":                "",
        "name":              "{{Provider_Name}}",
        "popID":             "{{Cloud_Type}}-{{POP_IP}}",
        "popIP":             "{{POP_IP}}",
        "keystoneport":      "{{KeyStone_Port}}",
        "region":            "{{Region}}",
        "cloudType":         "{{Cloud_Type}}",
        "createdDatetime":   ""
}
