rowData={
        "id":              "{{ VNF_Id}}",
        "ipAddress":       "{{ Scale_Out_VNF_IP }}",
        "port":            "{{ port }}",
        "vduId":           "{{ vduId }}",
        "fkDataModel":     "{{ fkDataModel}}",
        "name":            "{{ VNF_Name }}",
        "resourceID":      "{{ resourceID }}",
        "cloudProfileID":  "{{ Cloud_Profile_Id }}",
       
}
