---
    APPLY_SNAPSHOT:
        id:              "8"
        vnf:             "ePDG-VDU-10.3.12.65"
        configuredId:    "36"
        configuredName:  "Snapshot-epdg9"
        runningId:       "29"
        runningName:     "Snapshot-epdg2"
        resourceId:      "asdasdasdasdasdsa"
        haOperMode:      "active_c"

    CREATE_SNAPSHOT:
        configId:        ""
        name:            "Snapshot_Name"

    IMPORT_SNAPSHOT_CONFIG:
        id:             ""
        name:           "TAS"
        fkDataModel:    "123"
        attachFile:     "CONFIG_APP_MTAS_11_0_18_3.xml"

