rowData={
          "id":              "",
          "name":            "{{ VNFM1_Name }}",
          "ipType":          "{{ IP_Type }}",
          "protocolType":    "{{ Protocol_Type }}",
          "ipAddress":       "{{ VNFM1_IP }}",
          "port":            "{{ VNFM1_Port }}",
          "userName":        "{{ VNFM1_UserName }}",
          "password":        "{{ VNFM1_Password }}",
          "mode":            "{{ Mode }}"
}
