rowData={
          "id":              "",
          "name":            "{{ VNFM2_Name }}",
          "ipType":          "{{ IP_Type }}",
          "protocolType":    "{{ Protocol_Type }}",
          "ipAddress":       "{{ VNFM2_IP }}",
          "port":            "{{ VNFM2_Port }}",
          "userName":        "{{ VNFM2_UserName }}",
          "password":        "{{ VNFM2_Password }}",
          "mode":            "{{ Mode }}"
}
